body {
  background-image: url("background.jpg");
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 300%;
  text-align: center;
}

td {
  cursor: pointer;
  user-select: none;
  height: 15px;
  width: 15px;
  border: none;
}

.score {
  text-align: center;
  height: 50px;
  width: 20%;
  margin: auto;
  float: left;
  margin-top: 5px;
}

#laserfield-container{
  height: 250px;
}

#laserfield-draw {
  position: fixed;
  z-index: 1;
  border: none;
  display: inline-block;
}

#laserfield-table {
  position: fixed;
  z-index: 2;
  border: none;
  display: inline-block;
}

#main-container { 
  width: 500px;

  margin: auto;
  margin-top: 0;
  background-color: lightgray;
}

#score-display {
 width: 100%;
}

.clearCell {
  background-color: transparent;
}

.developer {
  display: none;
}



